.badge {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Georgia;
    color: white;
    font-weight: 900;
    padding: 0.2em 2em;
    background: #e93b359a;
    transform: translateX(1.8em) translateY(0.5em) rotateZ(45deg);
}