<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">close</ion-button>
        </ion-buttons>
        <ion-title>Filter Drivers</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-title>
        <h4>
            Sort by:
        </h4>
    </ion-title>
    <ion-radio-group [(ngModel)]="filter.category">
        <ion-item *ngFor="let category of categories">
            <ion-label>{{category.label}}</ion-label>
            <ion-radio slot="start" [value]="category.value"></ion-radio>
        </ion-item>
    </ion-radio-group>
    <ion-title>
        <h4>Order:</h4>
    </ion-title>
    <ion-radio-group [(ngModel)]="filter.order">
        <ion-item *ngFor="let sortOrder of sortingOrders">
            <ion-label>{{sortOrder.label}}</ion-label>
            <ion-radio slot="start" [value]="sortOrder.value"></ion-radio>
        </ion-item>
    </ion-radio-group>
    <ion-grid>
        <ion-row class="ion-justify-content-end">
            <ion-col size="3">
                <ion-button color="primary" fill="outline" (click)="resetFilters()">Reset</ion-button>
            </ion-col>
            <ion-col size="3">
                <ion-button color="primary" (click)="submit()">Apply</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>